Number16c.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="inventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="products" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="productName" type="xs:string"/>
              <xs:element name="category" type="xs:string"/>
              <xs:element name="price" type="xs:string"/>
              <xs:element name="quantity" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>