Number4a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="books">
    <xs:complexType>
      <xs:sequence>
       <xs:element name="book" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="author" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="first_name" type="xs:string"/>
                  <xs:element name="middle_name" type="xs:string"/>
                  <xs:element name="last_name" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="title" default="ms">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="mr"/>
                      <xs:enumeration value="mrs"/>
                      <xs:enumeration value="ms"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="phone" type="xs:string"/>
                <xs:attribute name="email" type="xs:string"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="page_no" type="xs:integer"/>
            <xs:element name="price">
              <xs:complexType>
                <xs:simpleContent>  
                  <xs:extension base="priceLimit">
                    <xs:attribute name="currency" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="NPR"/>
                          <xs:enumeration value="INR"/>
                          <xs:enumeration value="USD"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="ISBN" type="xs:ID" use="required"/>
        </xs:complexType>
      </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="priceLimit">
    <xs:restriction base="xs:decimal">
      <xs:maxInclusive value="600"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>